fastapi
uvicorn[standard]
httpx
python-multipart
pydantic
pydantic-settings
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-pinecone
pinecone
huggingface_hub
flashrank
pdfplumber
easyocr
numpy
Pillow
supabase
storage3
streamlit
requests
langchain-community
sentence-transformers
rank_bm25
python-docx
datasets
ragas